{% extends "master.html" %}


{% block head %}
<header class="gncode-header">
    <div class="gncode-header-content">
      <div class="container">
        <h1 class="gncode-header-heading">A propos de GNCode</h1>
      </div>
    </div>
  </header>
{% endblock %}


{% block body %}
<section>


    <div class="container">

      <div class="row">

        <div class="col-6">
            <h1 class='title'>Vision</h1>
            <p class="text-justify lead">
              Transformer la Guinée en une nation qui participe à la révolution numérique
              de manière productive, responsable et bénéfique pour le développement humain, social et économique.
            </p>
        </div>

        <div class="col-6">
            <h1 class='title'>Mission</h1>
            <p class="text-justify lead">
                Préparer les Guinéens à confronter les défis et à saisir les opportunités 
                inhérentes à la révolution numérique.
            </p>
        </div>

        

        <div class="col-12">
            <h1 class='title'>Stratégie</h1>
            <div class="accordion" id="strategyAccordion">
                <!-- Strategy 1-->
                <div class="card">
                  <div class="card-header" id="heading1">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                          <span class="lead">Augmenter la disponibilité et le niveau des compétences informatiques en Guinée</span>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#strategyAccordion">
                    <div class="card-body">
                      <span class="display-4 float-right">👩🏽‍💻</span>
                      <ul>
                          <li class="lead">
                            Développer des curriculums d'enseignements de l'informatique 
                            adaptés aux different niveaux académiques et professionnels en Guinée.
                          </li>
                          <li class="lead">
                            Organiser des campagnes de formation en informatique pour des élèves, 
                            étudiants, enseignants et professionels.
                          </li>
                          <li class="lead">
                            Promouvoir l'enseignement des bases de l'informatique depuis le bas âge.
                          </li>
                          <li class="lead">
                            Servir d'appui à l'adoption des programmes d'enseignement de l'informatique par 
                            les écoles, les universités et les centres professionnels.
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Strategy 2-->
                <div class="card">
                  <div class="card-header" id="heading2">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          <span class="lead">Vulgariser l'accès aux outils d'apprentissage.</span>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#strategyAccordion">
                    <div class="card-body">
                      <span class="display-4 float-right">🖥️</span>
                      <ul>
                          <li class="lead">
                            Créer et mettre en fonction un ou plusieurs centres d'apprentissage GNCodePark dans 
                            chaque région administrative de la Guinée.
                          </li>
                          <li class="lead">
                            Développer des solutions d'outils d'apprentissage adaptées au contexte guinéen et servir d'appui à leur adoption.
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>


                <!-- Strategy 3-->
                <div class="card">
                  <div class="card-header" id="heading3">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          <span class="lead">Encourager l'utilisation productive et bénéfique des outils technologiques</span>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#strategyAccordion">
                    <div class="card-body">
                      <span class="display-4 float-right">🕊️</span>
                      <ul>
                          <li class="lead">
                            Sensibiliser les Guinéens aux opportunités et défis liés aux tendances technologiques.
                          </li>
                          <li class="lead">
                            Promouvoir les outils technologiques contribuant positivement au développement humain, social et économique en Guinée.
                          </li>
                          <li class="lead">
                            Supporter les autorités dans la mise en place des politiques liés aux technologies informatiques.
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>

                

                <!-- Strategy 4-->
                <div class="card">
                  <div class="card-header" id="heading4">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          <span class="lead">Développer le secteur technologique en Guinée</span>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#strategyAccordion">
                    <span class="display-4 float-right">📈</span>
                    <div class="card-body">
                      <ul>
                          <li class="lead">
                            Créer de l'emploi dans le secteur technologique.  
                          </li>
                          <li class="lead">
                            Créer des centres d'incubation d'entreprises technologiques.
                          </li>
                          <li class="lead">
                            Inspirer les entrepreneurs guinéens à créer des produits et services technologiques 
                            valeureux pour la Guinée, pour l'Afrique et pour le monde entier.
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>


                <!-- Strategy 5-->
                <div class="card">
                  <div class="card-header" id="heading5">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                          <span class="lead">Permettre des interactions naturelles avec des produits technologiques en langues guinéennes</span>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#strategyAccordion">
                    <div class="card-body">
                      <span class="display-4 float-right">🇬🇳</span>
                      <ul>
                          <li class="lead">
                            Conduire des projets de recherche dans le domaine du traitement automatique des langues guinéennes et africaines.    
                          </li>
                          <li class="lead">
                            Créer des solutions qui permettent des interactions naturelles avec des systèmes intelligents dans les langues guinéennes.
                          </li>
                          <li class="lead">
                            Combler le fossé entre l'analphabétisme et l'accès aux produits technologiques et à l'information.
                          </li>
                          <li class="lead">
                            Réduire l'analphabétisme à travers l'informatique.
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Strategy 6-->
                <div class="card">
                  <div class="card-header" id="heading6">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          <span class="lead">Entreprendre des collaborations synergiques.</span>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#strategyAccordion">
                    <div class="card-body">
                      <span class="display-4 float-right">🤝</span>
                      <ul>
                          <li class="lead">
                            Entreprendre des projets joints avec des organisations qui ont des missions compatibles avec celles de GNCode.     
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
        </div>


        


      

  

        

        <!--
        <div class="col-12">
          <h1 class="display-6">
            Initier les eleves guineens à la programmation
          </h1>
          <p>
            L'initiation a la programmation informatique est benefique aux eleves du lycee parcequ'elle 
          </p>
          <p>
            Apprendre a programmer apprends a reflechir de facon creative et logique. Le programmeur cree
          </p>
          <p>
            La programmation informatique est synergique aux curriculum d'enseignement secondaire. Dans des matieres telles
            que les mathematiques et la physique, la programmation informatique peut etre utilisee pour presenter les concepts
            enseignes sous un angle alternatif améliorant l'assimilation. Par exemple, des programmes de resolution des equations
            polynomiales, de calcul des elements de la suite de Fibonaccy, et des programmes de simulation qui estiment la valeur 
            de π aide les eleves a assimiler les concepts mathematiques correspondent. Similairement, des programmes de simulation
            de mouvement de corps solides sous l'effet de la gravite et d'autres forces peuvent aider les eleves consolider
            des principes enseignés en physique.
          </p>
          <p>
            Initier les lyceens a la programmation leur ouvre un univers qui comporte de nombreuses options de specialisation
            et d'orientation de leur carriere academique universitaire.
          </p>
          
        </div>


        <div class="col-12">
            <h1 class="display-6">
              Former des ingenieurs logiciel guineens
            </h1>
            <p>
              Le genie logiciel est un domaine de competence en deficit en Guinée. Cela contraint les entreprises guineennes voulant 
              automatiser leur processus à importer
              des logiciels qui, generalement concus pour des contextes different, souvent mal adaptés aux réalites guinéennes.
              Pour palier a ce deficit, il est necessaire de former des ingenieur logiciels Guineens capable de créer des logiciels
              sur mesure et prenant en compte les details de leur contexte de deployement.
            </p>
        </div>

        -->
    </div>
</section>

{% endblock %}