{% extends "master.html" %}


{% block head %}
<header class="gncode-header">
    <div class="gncode-header-content">
      <div class="container">
        <h1 class="gncode-header-heading">A propos de GNCode</h1>
      </div>
    </div>
  </header>
{% endblock %}


{% block body %}
<section>
    <div class="container">

      <div class="row">
          <div class="col-12">
            <p class="text-justify display-4">
            GNCode est un organisme sans but lucratif dont l'objectif est de préparer la future génération d'informaticiens Guinéens prête à confronter les défis et à saisir les opportunités inhérentes au futur hautement technologique auquel la Guinée est inévitablement destinée.
            </p>
          </div>
      </div>

    </div>
</section>

{% endblock %}