{% extends "master.html" %}

{% block title %}
{% trans trimmed %}Accueil{% endtrans %}
{% endblock %}

{% block head %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
        <h1 class="masthead-heading mb-0">GNCode</h1>
        <h2 class="masthead-subheading mb-0">{% trans %}Préparer les Guinéens pour la révolution numérique.{% endtrans %}</h2>
        
        <a href="sessions/fria1219/index.html" class="btn btn-primary btn-xl rounded-pill mt-5">{% trans trimmed %}Sessions et Candidats{% endtrans %}</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block body %}
<section>
<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
        <div class="p-5">
        <!-- <img class="img-fluid rounded-circle" src="img/01.jpg" alt=""> -->
        <!-- <img class="img-fluid rounded-circle" src="img/woman-server-technology.jpg" alt=""> -->
        <img class="img-fluid rounded-circle" src="/img/gncode_fria_19/delphine_focused_small.png" alt="" />
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="p-5">
        <h2 class="display-4">{% trans trimmed %}Saisir l'opportunité technologique{% endtrans %}</h2>
        <p>{% trans trimmed %} Notre objectif est de préparer la future génération d'informaticiens Guinéens prête à confronter les défis et à saisir les opportunités inhérentes au futur hautement technologique auquel nous sommes inévitablement destinés.{% endtrans %}</p>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6">
        <div class="p-5">
        <!-- <img class="img-fluid rounded-circle" src="img/woman-coding.jpg" alt="" /> -->
        <img class="img-fluid rounded-circle" src="/img/gncode_fria_19/pathe_coding_small.png" alt="" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="p-5">
        <h2 class="display-4">{% trans trimmed %}Apprendre à programmer{% endtrans %}</h2>
        <p>
            {% trans trimmed %}
            Nos programmes de formation incluent des curriculums tels que <a href="https://guinea.csbridge.org/fr/index.html">CSBridge</a>,
            un excellent curriculum d'initiation à la programmation informatique basé sur des techniques pédagogiques utilisées a l'université de Stanford depuis plus de 20 ans. 
            {% endtrans %}
        </p>
        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
        <div class="p-5">
        <!-- <img class="img-fluid rounded-circle" src="img/software-engineer-at-work.jpg" alt="" /> -->
        <img class="img-fluid rounded-circle" src="/img/gncode_fria_19/programming_practice_small.png" alt="" />
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="p-5">
        <h2 class="display-4">{% trans trimmed %}En voie vers une Guinée plus productive et technologique{% endtrans %}</h2>
        <p>
            {% trans trimmed %}
            Dans les années qui suivent, nous voudrons: Intensifier l'éducation en informatique en Guinée, 
            construire et faire fonctionner des centres d'apprentissage dans toutes les préfectures de la Guinée, 
            et former des enseignants, des élèves et des professionels prêts pour le marché de l'emploi.
            {% endtrans %}
        </p>
        </div>
    </div>
    </div>
</div>
</section>


{% endblock %}
